body{
    margin: 0;
    padding-top: 75px;
    font-size: 15px;
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    background-color: #111;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}

/* Create a style for the first level items */
nav > ul > li > a {
    color: grey;
    background-color:#111;
    display: block;
    font-family: Times;
    line-height: 30px;
    font-size: 15pt;
    padding: 2px 10px 2px;
    text-decoration: none;
}

.navbar {
    overflow: hidden;
    background-color: #111;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}


.title {
    text-align: center;
    width: 100%;
    height: 150px;
    overflow-y: hidden;
    color: black;
    font-family: Candara;
    font-variant: small-caps;
}

hr {
width: 75%;
height: 3px;
background-color: black;
margin-right: auto;
margin-left: auto;
margin-top: 5px;
margin-bottom: 50px;
border: 0;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 40%;

}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.scatterheading {
    text-align: center;
    font-size: 30pt;
    padding-bottom: 2.5vh;
}

#text {
    color: black;
}

.scatterplot {
    /*vertical-align: middle;*/
    /*height: 600px;*/
    width: 100%;
    height: 70vh;
    overflow: visible;
    border: 0;

}

#headshot {
    text-align: center;
    padding-top: 50px;
}

#info {
    text-align:center;

}

.name {
    display: block;
    font-family: Candara;
    font-size: 70pt;
    padding-top: 150px;
    font-variant: small-caps;
}

.contact {
    display: block;
    text-align: center;
    overflow: visible;
    font-family: Candara;
    font-size: 20pt;
    font-variant: small-caps;
    padding-top: 30px;
}

